{% extends "base_template.html" %}
{% load static %}
{% block title %}Generate Invitation Link{% endblock %}
{% block style %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static "/css/generate_invitation.css" %}">
 
{% endblock %}
{% block content %}
    <div class= "outer">
        <div class= "wrapper">
            <h1>Generate Invitation Link</h1>
            {% if error is not None %}<p style="color: red">{{ error }}</p>{% endif %}
            {% if link is None %}
            <form method="post" action="{% url 'generate-user-invitation' %}">
                {% csrf_token %}
                <div class= "input-field">
                    <label for="email">Email:</label>
                    {{ form.email }}
                    <i class='bx bxs-user'></i>
                </div>
                <button class= "generatebutton" type="submit">Generate</button>
            </form>
            {% else %}
                <p id="invitationLink">{{ link }}</p>
                <button onclick="copyLink()">Copy Link</button>
                <script>
                    function copyLink() {
                        var linkText =
                            document.getElementById("invitationLink").textContent;
                        navigator.clipboard.writeText(linkText).then(
                            function () {
                                alert("Link copied to clipboard!");
                            },
                            function (err) {
                                alert("Could not copy text: ", err);
                            },
                        );
                    }
                </script>
            {% endif %}
        </div>
    </div>
{% endblock content %}
