{% extends "base_template.html" %}
{% load static %}
{% block title %}Generate Invitation Link{% endblock %}
{% block style %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static "/css/generate_invitation.css" %}">
    <link rel='stylesheet'
          href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
{% endblock %}
{% block content %}
    <div class="outer">
        <div class="content_wrapper wrapper">
            <h1>Generate Invitation Link</h1>
            {% if error is not None %}<p class="error">{{ error }}</p>{% endif %}
            {% if link is None %}
                <form method="post"
                      action="{% url 'generate-user-invitation' %}"
                      id="invitationForm">
                    {% csrf_token %}
                    <div class="input-field">
                        {{ form.email }}
                        <i class="bx bx-envelope"></i>
                    </div>
                    <div class="input-field">
                        <select name="role" id="id_role"
                                style="background-color: #333333; color: #ffffff; border: 1px solid #444444; border-radius: 4px; padding: 8px;">
                            {% for value, label in form.role.field.choices %}
                                <option value="{{ value }}" {% if form.role.value == value %}selected{% endif %}
                                        style="background-color: #222222; color: #ffffff;">
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                        <i class="bx bx-user"></i>
                    </div>

                    <div class="checkbox-field">
                        <input type="checkbox"
                               id="id_expert"
                               name="expert"
                               {% if form.expert.value %}checked{% endif %}>
                        <label for="id_expert">Experte/Expertin</label>
                    </div>
                    <div class="checkbox-field">
                        <input type="checkbox" id="enableQuota" onclick="toggleInput('quotaField')">
                        <label for="enableQuota">Max. gleichzeitige Observationsanfragen</label>
                    </div>
                    <div class="input-field" id="quotaField" style="display: none;">{{ form.quota }}</div>
                    <div class="checkbox-field">
                        <input type="checkbox"
                               id="enableLifetime"
                               onclick="toggleInput('lifetimeField')">
                        <label for="enableLifetime">Begrenzte Nutzungszeit</label>
                    </div>
                    <div class="input-field" id="lifetimeField" style="display: none;">{{ form.lifetime }}</div>
                    <button class="generatebutton" type="submit">Generate</button>
                </form>
                <script>
                    function toggleInput(fieldId) {
                        const field = document.getElementById(fieldId);
                        field.style.display = field.style.display === 'none' ? 'block' : 'none';
                    }

                    document.getElementById('invitationForm').addEventListener('submit', function () {
                        if (document.getElementById('quotaField').style.display === 'none') {
                            document.getElementById('id_quota').remove();
                        }
                        if (document.getElementById('lifetimeField').style.display === 'none') {
                            document.getElementById('id_lifetime').remove();
                        }
                    });

                    document.getElementById('id_role').addEventListener('change', function () {
                        const role = this.value;
                        const expertCheckbox = document.getElementById('id_expert');

                        if (role === '{{ UserGroups.ADMIN }}') {
                            expertCheckbox.checked = true;
                            expertCheckbox.disabled = true; // Gray out the checkbox
                        } else {
                            expertCheckbox.disabled = false; // Allow toggling
                        }
                    });

                    document.getElementById('id_role').dispatchEvent(new Event('change'));
                </script>
            {% else %}
                <p id="invitationLink">{{ link }}</p>
                <button class="copybutton" onclick="copyLink()">Copy Link</button>
                <script>
                    function copyLink() {
                        var linkText =
                            document.getElementById("invitationLink").textContent;
                        navigator.clipboard.writeText(linkText).then(
                            function () {
                                alert("Link copied to clipboard!");
                            },
                            function (err) {
                                alert("Could not copy text: ", err);
                            },
                        );
                    }
                </script>
            {% endif %}
        </div>
    </div>
{% endblock content %}
