<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TURM Login</title>
        <link rel="stylesheet"
              href="{% static "/css/register_from_invitation.css" %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
              rel='stylesheet'>
    </head>
    <body>
        <div class= "wrapper">
            <h1>Create account</h1>
            <div class= "wrapper-body">
                <div class= "given-email">
                    <p>Email: {{ email }}</p>
                    <box-icon type='solid' name='user'></box-icon>
                </div>
                <form method="post" action="{% url 'signup' token %}">
                    {% csrf_token %}
                    <div class="input-field">
                        {{ form.new_password1 }}
                        <i class='bx bxs-lock-open-alt'></i>
                    </div>
                    <div class="input-field">
                        {{ form.new_password2 }}
                        <i class='bx bxs-lock-alt'></i>
                    </div>
                    {% if error %}<p class="error-message">{{ error }}</p>{% endif %}
                    <button type="submit" class= "btn">Register</button>
                </form>
            </div>
        </div>
    </body>
</html>
