{% extends "base_template.html" %}
{% block title %}User Data Settings{% endblock %}
{% block style %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
          rel="stylesheet">
    <style>
    .form_body {
        background-color: #313131;
        width: 1140px;
        min-width: 256px;
        max-width: 1140px;
        margin: 0.75em auto;
        border-radius: 5px;
        padding: 1em 30px;
        color: white;
        font-family: var(--tom-base-font), sans-serif;
    }

    label {
        font-size: 1.15em;
    }

    .input_text {
        display: block;
        margin-top: 0.25em;
        margin-bottom: 0.75em;
        border: .1em solid transparent;
        border-radius: 5px;
        padding: 0.5em;
        width: 100%;
        background-color: #242424;
        color: white;
        font-family: var(--tom-base-font), sans-serif;
        font-size: 1.15em;
    }

    .input_text:hover {}
    .input_text:focus {
        outline: none;
        border: .1em solid white;
    }

    .base_button {
        background-color: var(--tom-primary-color);
        border-radius: var(--tom-corner-radius);
        border: .125em solid transparent;
        font-family: var(--tom-base-font), sans-serif;
        font-size: 1.15em;
        padding: 0.5em;
    }

    .base_button:hover {
        border: .125em solid white;
    }

    .base_button:active {
        background-color: var(--tom-primary-color-dark);
    }

    .sub_form_heading {
        margin-bottom: .5em;
    }

    .switch_button_container {
        display: flex;
        width: 1080px;
        gap: 3px;
    }

    .observation_type_radio {
        display: none;
    }

    .observation_type_label {
        background-color: var(--tom-disabled-grey);
        padding: .5em;
        flex: 1;
        text-align: center;
        font-weight: bold;
    }

    .observation_type_label:hover {
        background-color: var(--tom-accent-color);
    }

    .observation_type_label:first-child {
        -moz-border-radius-topleft: var(--tom-corner-radius);
        -webkit-border-top-left-radius: var(--tom-corner-radius);
        -moz-border-radius-bottomleft: var(--tom-corner-radius);
        -webkit-border-bottom-left-radius: var(--tom-corner-radius);
    }

    .observation_type_label:nth-last-child(2) {
        border-left: transparent;
        -moz-border-radius-topright: var(--tom-corner-radius);
        -webkit-border-top-right-radius: var(--tom-corner-radius);
        -moz-border-radius-bottomright: var(--tom-corner-radius);
        -webkit-border-bottom-right-radius: var(--tom-corner-radius);
    }

    .observation_type_label_active {
        background-color: var(--tom-primary-color);
    }

    .observation_type_label_active:hover {
        background-color: var(--tom-primary-color-dark);
    }

    .container {
        height: 90vh;
    }

    .flex {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="container_center">
            <div class="content_wrapper flex">
                <h1>User Data Settings</h1>
                <button id="downloadBtn">Download User Data</button>
                <button id="deleteBtn">Delete User Data</button>
            </div>
        </div>
    </div>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script>
        function getCSRFToken() {
            return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        }

        // Download User Data
        document.getElementById('downloadBtn').addEventListener('click', function() {
            fetch('{{ subpath }}/dsgvo/get-user-data/')
                .then(response => response.json())
                .then(data => {
                    const blob = new Blob([JSON.stringify(data)], { type: 'application/json' });
                    const link = document.createElement('a');
                    link.href = URL.createObjectURL(blob);
                    link.download = 'user_data.json';
                    link.click();
                });
        });

        // Delete User Data
        document.getElementById('deleteBtn').addEventListener('click', function() {
        if (confirm("Are you sure you want to delete your user data? This action cannot be undone.")) {
            fetch('{{ subpath }}/dsgvo/delete-user/', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken(),
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert("User data has been successfully deleted.");
                    window.location.href = '/';
                } else {
                    alert("An error occurred while deleting the data.");
                }
            });
        }
    });

    </script>
{% endblock %}
