:root {
    /* colors */
    --tom-light-grey: #313131;
    --tom-dark-grey: #242424;
    --tom-white: white;

    --tom-primary-color: #1078c1;
    --tom-primary-color-dark: #2550aa;

    --tom-accent-color: #f5b11dff;

    --tom-disabled-grey: #777777;
    --tom-info-ok: #66913a;
    --tom-info-warning: var(--tom-accent-color);
    --tom-info-error: #5a090d;

    /* values */
    --tom-base-width: 1140px;
    --tom-corner-radius: 5px;

    /* fonts */
    --tom-base-font: 'Source Sans 3';
}

* {
    margin: 0;
    color: white;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Roboto Light', sans-serif;
}

