input[type=text], input[type=date], input[type=datetime-local] {
    width: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    font-size: 16px;
    color: #fff;
    padding: .75em 1.5em;
    margin-bottom: 1em;
}

.radio_input_div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    padding-bottom: 1em;
}

.radio_input_div input[type=radio] {
    display: none;
}

.radio_input_div label {
    display: inline-block;
    /*background-color: var(--tom-disabled-grey);*/

    flex: 1;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;

    margin: auto 0;

    padding: .5em;
    font-size: 16px;
    color: #fff;

    border: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 0;
}

.radio_input_div label:hover {
    background-color: var(--tom-light-grey);
}
.radio_input_div label:nth-child(2) {
    /* label all the way on the left */
    padding: .5em .5em .5em .75em;
    -moz-border-radius-topleft: var(--tom-corner-radius-input);
    -webkit-border-top-left-radius: var(--tom-corner-radius-input);
    -moz-border-radius-bottomleft: var(--tom-corner-radius-input);
    -webkit-border-bottom-left-radius: var(--tom-corner-radius-input);
}
.radio_input_div label:last-child {
    /* label all the way on the right */
    border: 2px solid rgba(255, 255, 255, 0.2);

    padding: .5em .75em .5em .5em;

    -moz-border-radius-topright: var(--tom-corner-radius-input);
    -webkit-border-top-right-radius: var(--tom-corner-radius-input);
    -moz-border-radius-bottomright: var(--tom-corner-radius-input);
    -webkit-border-bottom-right-radius: var(--tom-corner-radius-input);
}

.radio_input_div input[type=radio]:checked + label{
    background-color: var(--tom-primary-color);
    border: 2px solid rgba(255, 255, 255, 0.2);
}


.radio_input_div input[type=radio]:checked + label + input + label{
    border-left: 0;
}

.radio_input_div input:checked + label:hover {
    background-color: var(--tom-primary-color-dark);
}

.measurement_unit {
   margin-left: -100%;
}

.grid_input_div {
    display: grid;
    grid-gap: 1em;
}
