@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

:root {
    --tom-light-gray: #313131;
    --tom-dark-gray: #242424;
    --tom-white: white;
    --tom-white-dark: #eee;
    --tom-primary-color: #1078c1;
    --tom-primary-color-dark: #2550aa;
    --tom-accent-color: #f5b11dff;
    --tom-secondary-gray: #777777;
    --tom-info-ok: #66913a;
    --tom-info-warning: var(--tom-accent-color);
    --tom-info-error: #5a090d;
    --tom-error-color: #e74c3c;

    --primary: #1078c1;
    --dark: #101213;
    --medium: #454545;
    --medium-dark: #2c2c2e;
    --medium-light: #666666;
    --medium-lighter: #999999;
    --medium-lightest: #bbbbbb;
    --light: #ffffff;
    --error: #8a1306;

    --corner-radius-small: 6px;
    --corner-radius-medium: 8px;
    --border-small: 2px;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: normal;
}

body {
    background: url(../img/HeartNebula.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
}

/* typography */

.heading {
    font-size: 20px;
    font-weight: 600;
}

.sub-heading {
    font-size: 18px;
    font-weight: 600;
}

.text {
    font-size: 16px;
    font-weight: normal;
}

.text-secondary {
    font-size: 16px;
    font-weight: normal;
    color: var(--medium-lighter);
}

.text-medium {
    font-size: 16px;
    font-weight: 500;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

/* common classes */

.btn {
    padding: 8px 16px;
    min-width: 96px;
    cursor: pointer;
    border: none;
    background-color: var(--light);
    color: var(--dark);
    border-radius: var(--corner-radius-medium);
}

.btn:hover {
    background-color: var(--medium-lightest);
}

.btn-secondary {
    padding: 8px 16px;
    min-width: 96px;
    cursor: pointer;
    border: none;
    background-color: var(--medium-dark);
    color: var(--white);
    border-radius: var(--corner-radius-medium);
}

.btn-secondary:hover {
    background-color: var(--medium);
}

.form-wrapper {
    min-width: 512px;
    max-width: 960px;
    padding: 30px 40px;
}

.content-wrapper {
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: var(--dark);
    border-radius: 20px;
}
