@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

:root {
    --tom-light-gray: #313131;
    --tom-dark-gray: #242424;
    --tom-white: white;
    --tom-white-dark: #eee;
    --tom-primary-color: #1078c1;
    --tom-primary-color-dark: #2550aa;
    --tom-accent-color: #f5b11dff;
    --tom-secondary-gray: #777777;
    --tom-info-ok: #66913a;
    --tom-info-warning: var(--tom-accent-color);
    --tom-info-error: #5a090d;
    --tom-error-color: #e74c3c;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: normal;
}

body {
    background: url(../img/HeartNebula.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
}

/* typography */

.heading {
    font-size: 20px;
    font-weight: 600;
}

.text {
    font-size: 16px;
    font-weight: normal;
}

.text-medium {
    font-size: 16px;
    font-weight: 500;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

/* common classes */

.form-wrapper {
    min-width: 512px;
    max-width: 960px;
    padding: 30px 40px;
}

.content-wrapper {
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: var(--tom-dark-gray);
    border-radius: 20px;
}
