{% extends "base_template.html" %}
{% load static %}
{% block title %}User Management{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static "/css/generate_invitation.css" %}">
    <style>
        .container {
            margin: 30px;
        }

        .content_wrapper {
            background-color: #1e1e1e;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .empty-text p {
            text-align: center;
            padding: 20px;
            font-size: 18px;
        }

        .input-field {
            margin-bottom: 15px;
            margin-top: 5px;
        }

        .form-group {
            margin-bottom: 15px;
        }


        td {
            padding: 10px;
            border: 1px solid #444444
        }

        button {
            background-color: transparent;
            color: white;
            border: 2px solid white;
            font-size: 16px;
            cursor: pointer;
            padding: 8px 15px;
            transition: background-color 0.2s ease, color 0.2s ease; /* Smooth transition */
            margin-right: 10px;
        }

        button:hover {
            background-color: #da190b;
            color: white;
            border-color: white;
        }

        .green-button:hover {
            background-color: #4CAF50;
        }

        #modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }

        #modal div {
            background: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            position: relative;
        }

        #modal h3 {
            color: black;
        }

        #modal p {
            color: black;
            word-wrap: break-word;
            margin-bottom: 20px;
        }


        table {
            margin: 20px 0;
            width: 100%;
            border-collapse: collapse;
        }

        table th, table td {
            border: 1px solid #444444;
            padding: 8px;
            text-align: left;
        }

        table th {
            background-color: #222222;
            color: white;
        }


        .tables-background {
            background-color: #1e1e1e;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
        }

        .tables-background table {
            background-color: #1e1e1e;
            border-collapse: collapse;
            width: 100%;
        }

        .tables-background table th, .tables-background table td {
            border: 1px solid #444444;
            padding: 8px;
            text-align: left;
        }

        .tables-background table th {
            background-color: #222222;
            color: white;
        }


        .styled-select {
            background-color: #333333;
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 5px;
            border: none;
            width: 100%;
        }

        .styled-select:focus {
            outline: none;
            box-shadow: 0 0 5px #888;
        }

        .highlight {
            background-color: #555;
            font-weight: normal;
            color: #f1f1f1;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <!-- Invitation Form -->
        <div class="content_wrapper">
            <h3>Generate Invitation</h3>
            {% if error is not None %}<p class="error">{{ error }}</p>{% endif %}
            <form method="post"
                  action="{% url 'generate-user-invitation' %}"
                  id="invitationForm">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-field">{{ form.email }}</div>
                    <div class="input-field">{{ form.username }}</div>
                    <div class="form-group">
                        <div class="input-field">
                            <label for="id_role"></label>
                            <select name="role" id="id_role" class="styled-select">
                                {% for value, label in form.role.field.choices %}
                                    <option value="{{ value }}"
                                            {% if form.role.value == value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox-field">
                            <input type="checkbox"
                                   id="id_expert"
                                   name="expert"
                                   {% if form.expert.value %}checked{% endif %}>
                            <label for="id_expert">Expert</label>
                        </div>
                        <div class="checkbox-field">
                            <input type="checkbox" id="enableQuota" onclick="toggleInput('quotaField')">
                            <label for="enableQuota">Max. Simultaneous Requests</label>
                        </div>
                        <div class="input-field" id="quotaField" style="display: none;">{{ form.quota }}</div>
                        <div class="checkbox-field">
                            <input type="checkbox"
                                   id="enableLifetime"
                                   onclick="toggleInput('lifetimeField')">
                            <label for="enableLifetime">Limited Usage Time</label>
                        </div>
                        <div class="input-field" id="lifetimeField" style="display: none;">{{ form.lifetime }}</div>
                    </div>
                    <div class="form-group">
                        <button type="button"
                                class="generate-invitation-button green-button"
                                onclick="createInvitation()">Generate
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tables-background">
            <!-- Open Invitations -->
            <div class="open-invitations">
                <h3>Open Invitations</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Alias</th>
                        <th>Role</th>
                        <th>Quota</th>
                        <th>Lifetime</th>
                        <th>Invitation Link</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if invitations %}
                        {% for invitation in invitations %}
                            <tr>
                                <td>{{ invitation.email }}</td>
                                {% if invitation.username != invitation.email %}
                                    <td>{{ invitation.username }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ invitation.role }}</td>
                                <td>{{ invitation.quota }}</td>
                                <td>{{ invitation.lifetime }}</td>
                                <td>{{ invitation.link }}</td>
                                <td>
                                    {% if invitation.link != "" %}
                                        <button id="copy-invitation-action-{{ invitation.id }}"
                                                type="button"
                                                class="green-button"
                                                onclick="copyLinkToClipboard('{{ invitation.link }}', document.getElementById('copy-invitation-action-{{ invitation.id }}'))">
                                            Copy Link
                                        </button>
                                    {% endif %}
                                    <form id="delete-invitation-{{ invitation.id }}" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="button"
                                                class="delete-button"
                                                onclick="deleteInvitation({{ invitation.id }})">Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7">No open invitations found.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tables-background">
            <!-- All Users -->
            <div class="all-users">
                <h3>All Users</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Alias</th>
                        <th>Role</th>
                        <th>Quota</th>
                        <th>Lifetime</th>
                        <th>Date Joined</th>
                        {% if perms.accounts.can_delete_users %}
                            <th>Actions</th>{% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for target_user in users %}
                        {% if target_user.deletion_pending == False %}
                            <tr id="user-{{ target_user.id }}"
                                class="{% if target_user.id == current_user.id %}highlight{% endif %}">
                                <td>{{ target_user.email }}</td>
                                {% if target_user.username != target_user.email %}
                                    <td>{{ target_user.username }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ target_user.get_role }}</td>
                                <td>{{ target_user.quota }}</td>
                                <td>{{ target_user.lifetime }}</td>
                                <td>{{ target_user.date_joined }}</td>
                                {% if perms.accounts.can_delete_users %}
                                    <td>
                                        <form id="delete-user-{{ target_user.id }}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="button"
                                                    class="delete-button"
                                                    onclick="deleteUser({{ target_user.id }})">Delete
                                            </button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="modal">
        <div>
            <h3>Invitation Link</h3>
            <p id="modal-link" style="word-wrap: break-word; margin-bottom: 20px;"></p>
            <button onclick="copyLinkToClipboard(document.getElementById('modal-link').textContent, document.getElementById('modalCopyButton'))"
                    id="modalCopyButton"
                    style="padding: 10px 20px;
                           background-color: #4CAF50;
                           color: white;
                           border: none;
                           border-radius: 5px;
                           cursor: pointer">Copy Link
            </button>
            <button onclick="closeModal()"
                    style="padding: 10px 20px;
                           background-color: #f44336;
                           color: white;
                           border: none;
                           border-radius: 5px;
                           cursor: pointer;
                           margin-left: 10px">Close
            </button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('keydown', (event) => {
            if (event.key === 'Escape') {
                closeModal();
            }

            if (event.key === 'Enter') {
                const focusedElement = document.activeElement;

                if (focusedElement.tagName === 'INPUT' && focusedElement.type === 'text') {
                    createInvitation();
                }
            }
        })

        function toggleInput(fieldId) {
            const field = document.getElementById(fieldId);
            field.style.display = field.style.display === 'none' ? 'block' : 'none';
        }

        async function createInvitation() {
            const form = document.getElementById('invitationForm');
            const csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;
            const email = form.querySelector('input[name="email"]').value;

            const formData = new FormData(form);

            if (document.getElementById('quotaField').style.display === 'none') {
                formData.delete('quota');
            }
            if (document.getElementById('lifetimeField').style.display === 'none') {
                formData.delete('lifetime');
            }

            try {
                const response = await fetch("{%  url 'has-invitation' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email: email,
                    }),
                });
                let data = await response.json();
                if (data['has_invitation'] === true) {
                    if (!confirm("An invitation already exists for this email. Do you want to override the invitation?")) {
                        return;
                    }
                }
                const generateResponse = await fetch("{% url 'generate-user-invitation' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                    },
                    body: formData,
                });
                let linkData = await generateResponse.json();
                if (generateResponse.ok) {
                    document.getElementById('modal-link').textContent = linkData['link'];
                    document.getElementById('modal').style.display = 'flex'; // Show the modal
                } else {
                    if (linkData['error']) {
                        alert("Failed to create invitation: " + linkData['error']);
                    } else {
                        alert("Failed to create invitation. Please try again.");
                    }
                }
            } catch (error) {
                alert("Failed to create invitation. Please try again.");
            }
        }

        function copyLinkToClipboard(link, copyButton) {
            navigator.clipboard.writeText(link).then(() => {
                const originalBackgroundColor = copyButton.style.backgroundColor;
                const originalText = copyButton.textContent;

                // Provide feedback by changing the button color and text
                copyButton.style.backgroundColor = '#45a049';
                copyButton.textContent = 'Link copied!';

                // Reset button color and text after a short delay
                setTimeout(() => {
                    copyButton.style.backgroundColor = originalBackgroundColor;
                    copyButton.textContent = originalText;
                }, 1000);
            });
        }


        function closeModal() {
            document.getElementById('modal').style.display = 'none';

            // Clear form inputs
            const form = document.getElementById('invitationForm');
            form.reset();
            location.reload();
        }

        async function deleteUser(userId) {
            if (!confirm("Are you sure you want to mark this user for deletion?")) {
                return;
            }

            const form = document.getElementById(`delete-user-${userId}`);
            const csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;

            try {
                const response = await fetch("{% url 'delete-user' 0 %}".replace("0", userId), {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json',
                    },
                });

                const data = await response.json();

                if (response.ok) {
                    alert(data.message || "User marked for deletion!");
                    form.closest('tr').remove(); // Remove the row from the table
                } else {
                    alert(data.error || "An error occurred while marking the user for deletion.");
                }
            } catch (error) {
                alert("Failed to delete the user. Please try again.");
            }
        }


        async function deleteInvitation(invitationId) {
            const form = document.getElementById(`delete-invitation-${invitationId}`);
            const csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;
            console.log("Invitation ID: ", invitationId);
            try {
                const response = await fetch("{% url 'delete-invitation' 0 %}".replace("0", invitationId), {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json',
                    },
                });

                const data = await response.json();

                if (response.ok) {
                    alert(data.message || "Invitation deleted successfully!");
                    location.reload();
                } else {
                    alert(data.error || "An error occurred while deleting the invitation.");
                }
            } catch (error) {
                alert("Failed to delete the invitation. Please try again.");
            }
        }
    </script>
{% endblock %}
