{% extends "base_template.html" %}
{% load static %}
{% block title %}User Management{% endblock %}
{% block style %}
    <style>
        .user-management-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        .edit-user-form {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .generate-invitation-form {
            display: grid;
            width: 100%;
            column-gap: 32px;
            row-gap: 16px;
            grid-template-columns: 1fr 1fr;
            margin: 16px 0;
        }

        .generate-invitation-options {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .data-table {
            margin: 16px 0;
        }

        .table-row-highlight {
            background-color: var(--color-gray-500);
        }

        .generate-invitation-submit {
            grid-column: 2;
            display: flex;
            justify-content: flex-end;
        }

        .optional-field-container {
            width: 100%;
            gap: 8px;
            position: relative;
            height: 48px;
            border: var(--border-sm) solid var(--color-gray-400);
            border-radius: var(--radius-md);
        }

        .optional-field-container label {
            position: absolute;
            cursor: pointer;
            left: 56px;
            top: 12px;
            height: 100%;
            width: calc(100% - 56px);
        }

        .optional-field-container input[type="checkbox"] {
            position: absolute;
            left: 8px;
            top: 8px;
        }

        .optional-field-container input:not([type="checkbox"]) {
            border: none;
            position: absolute;
            left: 32px;
            width: calc(100% - 32px);
        }

        .expert-field-container {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;
            height: 48px;
            padding: 8px 8px;
            width: 100%;
            cursor: pointer;
            border-radius: var(--radius-md);
            border: var(--border-sm) solid var(--color-gray-400);
        }

        .expert-field-container label {
            cursor: pointer;
            flex: 1;
        }

        .copy-popover {
            position: absolute;
            background-color: var(--color-gray-400);
            padding: 4px 8px;
            border-radius: var(--radius-sm);
            white-space: nowrap;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            pointer-events: none;
            display: flex;
            align-items: center;
            gap: 4px;
        }

        .copy-popover.show {
            opacity: 1;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="page-content page-md user-management-container">
        <!-- Invitation Form -->
        <div>
            <p class="heading">Generate Invitation</p>
            {% if error is not None %}<p class="error">{{ error }}</p>{% endif %}
            <form id="invitationForm" class="generate-invitation-form">
                {% csrf_token %}
                <div class="generate-invitation-options">
                    {{ invitation_form.email }}
                    {{ invitation_form.username }}
                    <div class="radio-input-container">
                        {% for value, label in invitation_form.role.field.choices %}
                            <input type="radio"
                                   id="role_{{ value }}"
                                   name="role"
                                   value="{{ value }}"
                                   {% if invitation_form.role.value == value %}checked{% endif %}
                                   onchange="checkRoleChange('{{ value }}')">
                            <label for="role_{{ value }}">{{ label }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div class="generate-invitation-options">
                    <div class="optional-field-container">
                        <input class="checkbox"
                               type="checkbox"
                               id="set_quota"
                               onclick="toggleInput('quota')">
                        <label for="set_quota" id="label_quota" class="text-secondary">Set Quota</label>
                        <div id="quotaField">{{ invitation_form.quota }}</div>
                    </div>
                    <div class="optional-field-container">
                        <input class="checkbox"
                               type="checkbox"
                               id="set_lifetime"
                               onclick="toggleInput('lifetime')">
                        <label for="set_lifetime" id="label_lifetime" class="text-secondary">Set Lifetime</label>
                        <div id="lifetimeField">{{ invitation_form.lifetime }}</div>
                    </div>
                    <div class="expert-field-container">
                        <input type="checkbox"
                               id="id_expert"
                               name="expert"
                               class="checkbox"
                               {% if invitation_form.expert.value %}checked{% endif %}>
                        <label for="id_expert" class="text">Expert</label>
                    </div>
                    <div class="generate-invitation-submit">
                        <button type="button" class="btn" onclick="createInvitation()">Generate Invitation</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Open Invitations -->
        <div>
            <p class="heading">Open Invitations</p>
            <table class="table data-table">
                <thead>
                    <tr>
                        <th class="text-align-left">Email</th>
                        <th class="text-align-left">Alias</th>
                        <th class="text-align-left">Role</th>
                        <th class="text-align-right">Quota</th>
                        <th class="text-align-right">Lifetime</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if invitations %}
                        {% for invitation in invitations %}
                            <tr class="table-row">
                                <td class="text-align-left">{{ invitation.email }}</td>
                                {% if invitation.username != invitation.email %}
                                    <td>{{ invitation.username }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td class="text-align-left">{{ invitation.role }}</td>
                                <td class="text-align-right">
                                    {% if invitation.quota %}
                                        {{ invitation.quota }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-align-right">
                                    {% if invitation.lifetime %}
                                        {{ invitation.lifetime }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-align-left">
                                    {% if invitation.link != "" %}
                                        <button id="copy-invitation-action-{{ invitation.id }}"
                                                type="button"
                                                title="Copy Invitation Link"
                                                class="icon-btn position-relative"
                                                onclick="copyLinkToClipboard('{{ invitation.link }}', document.getElementById('copy-invitation-action-{{ invitation.id }}'))">
                                            <i class="bx bx-copy"></i>
                                        </button>
                                    {% endif %}
                                    <form id="delete-invitation-{{ invitation.id }}" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="button"
                                                class="icon-btn"
                                                title="Delete Invitation"
                                                onclick="deleteInvitation({{ invitation.id }})">
                                            <i class="bx bx-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7">No open invitations found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <!-- All Users -->
        <div>
            <p class="heading">All Users</p>
            <table class="table data-table">
                <thead>
                    <tr>
                        <th class="text-align-left">Email</th>
                        <th class="text-align-left">Alias</th>
                        <th class="text-align-left">Role</th>
                        <th class="text-align-right">Quota</th>
                        <th class="text-align-right">Lifetime</th>
                        <th class="text-align-right">Date Joined</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for target_user in users %}
                        {% if target_user.deletion_pending == False %}
                            <tr id="user-{{ target_user.id }}"
                                class="table-row {% if target_user.id == current_user.id %}table-row-highlight{% endif %}">
                                <td class="text-align-left">{{ target_user.email }}</td>
                                {% if target_user.username != target_user.email %}
                                    <td>{{ target_user.username }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td class="text-align-left">{{ target_user.get_role }}</td>
                                <td class="text-align-right">
                                    {% if target_user.quota %}
                                        {{ target_user.quota }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-align-right">
                                    {% if target_user.lifetime %}
                                        {{ target_user.lifetime }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-align-right">{{ target_user.date_joined|date:"d.m.Y" }}</td>
                                <td>
                                    {% if perms.accounts.can_edit_users %}
                                        <form id="edit-user-{{ target_user.id }}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="button"
                                                    class="icon-btn"
                                                    title="Edit User"
                                                    onclick="editUser({ id: {{ target_user.id }}, email: '{{ target_user.email }}', username: '{{ target_user.username }}', quota : '{{ target_user.quota }}', lifetime : '{{ target_user.lifetime }}' })">
                                                <i class="bx bx-edit"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                    {% if perms.accounts.can_delete_users %}
                                        <form id="delete-user-{{ target_user.id }}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="button"
                                                    class="icon-btn"
                                                    title="Delete User"
                                                    onclick="deleteUser({{ target_user.id }})">
                                                <i class="bx bx-trash"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function checkRoleChange(role) {
            const expertCheckbox = document.getElementById('id_expert');

            if (role === '{{ UserGroups.ADMIN }}') {
                expertCheckbox.checked = true;
                expertCheckbox.disabled = true;
            } else {
                expertCheckbox.disabled = false;
                expertCheckbox.checked = false;
            }
        }

        document.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                const focusedElement = document.activeElement;

                if (focusedElement.tagName === 'INPUT' && focusedElement.type === 'text') {
                    createInvitation();
                }
            }
        });

        function toggleInput(fieldId) {
            const field = document.getElementById("id_" + fieldId);
            const label = document.getElementById("label_" + fieldId);
            field.style.display = field.style.display === 'none' ? 'block' : 'none';
            label.style.display = label.style.display === 'none' ? 'block' : 'none';
        }

        async function createInvitation() {
            const form = document.getElementById('invitationForm');
            const csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;
            const email = form.querySelector('input[name="email"]').value;

            const formData = new FormData(form);

            if (document.getElementById('quotaField').style.display === 'none') {
                formData.delete('quota');
            }
            if (document.getElementById('lifetimeField').style.display === 'none') {
                formData.delete('lifetime');
            }

            try {
                const response = await fetch("{%  url 'has-invitation' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email: email,
                    }),
                });
                let data = await response.json();
                if (data['has_invitation'] === true) {
                    if (!await showConfirmModal("Override Invitation", `An invitation already exists for this email. Do you want to override the invitation?`, "Override")) {
                        return;
                    }
                }
                const generateResponse = await fetch("{% url 'generate-user-invitation' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                    },
                    body: formData,
                });
                let linkData = await generateResponse.json();
                if (generateResponse.ok) {
                  const link = linkData['link'];
                    if (await showConfirmModal("Invitation created", "Invitation Link:\n" + link, "Copy link")) {
                        navigator.clipboard.writeText(link);
                        location.reload();
                    }
                } else {
                    if (linkData['error']) {
                        await showAlertModal("Failed to create invitation", `Got an error for email "${email}".\n${linkData['error']}`);
                    } else {
                        await showAlertModal("Failed to create invitation", "An unknown error occurred. Please try again.");
                    }
                }
            } catch (error) {
                await showAlertModal("Failed to create invitation", "An unknown error occurred. Please try again.");
            }
        }

        function copyLinkToClipboard(link, element) {
            navigator.clipboard.writeText(link).then(() => {
                if (element) {
                    const popover = document.createElement('div');
                    popover.className = 'copy-popover';
                    popover.innerHTML = '<i class="bx bx-check"></i> Copied!';
                    element.appendChild(popover);

                    setTimeout(() => {
                        popover.classList.add('show');

                        const buttonRect = element.getBoundingClientRect();
                        popover.style.left = `${buttonRect.width + 4}px`;
                        popover.style.top = '50%';
                        popover.style.transform = 'translateY(-50%)';
                    }, 50);

                    setTimeout(() => {
                        popover.classList.remove('show');
                        setTimeout(() => {
                            element.removeChild(popover);
                        }, 300);
                    }, 1500);
                }
            }).catch(err => {
                console.error('Failed to copy text: ', err);
            });
        }

        async function deleteUser(userId) {
            if (!await showConfirmModal("Delete Account", "Are you sure you want to mark this user for deletion?"), "Delete") {
                return;
            }

            const form = document.getElementById(`delete-user-${userId}`);
            const csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;
            try {
                const response = await fetch("{% url 'delete-user' 0 %}".replace("0", userId), {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json',
                    },
                });

                const data = await response.json();

                if (response.ok) {
                    await showAlertModal("User was deleted", data.message || "User was successfully marked for deletion.");
                    form.closest('tr').remove(); // Remove the row from the table
                } else {
                    await showAlertModal("Error occurred", data.error || "An error occurred while marking the user for deletion.");
                }
            } catch (error) {
                await showAlertModal("Error occurred", "An unknown error occurred while marking the user for deletion. Please try again.");
            }
        }

        async function editUser(user) {
            const id = user.id;
            const email = user.email;
            const username = user.username;
            const currentQuota = user.quota;
            const currentLifetime = user.lifetime;

            let title;
            if (username !== email) {
                title = `Editing User ${username} (${email})`;
            } else {
                title = `Editing User ${email}`;
            }

            const form = createEditUserForm(id, email, username, currentQuota, currentLifetime);
            const result = await showModal(title, form, {
                allowDismiss: false,
                buttons: [
                    {
                        id: "cancel",
                        text: "Cancel",
                        secondary: true,
                    },
                    {
                        id: "save",
                        text: "Save Changes",
                    },
                ],
            });

            if (result === "save") {
                await submitEditUser(form);
            }
        }

        function createEditUserForm(id, email, username, currentQuota, currentLifetime) {
            const form = document.createElement('form');
            form.id = 'editUserForm';
            form.className = 'edit-user-form';
            form.innerHTML = `
                {% csrf_token %}
                <input type="hidden" id="edit-user-id" name="user_id" value="${id}">
                <div>
                    <label class="text-secondary" for="id_new_email">Email</label>
                    <input class="textbox" type="email" id="id_new_email" name="new_email" value="${email}" placeholder="New Email">
                </div>
                <div>
                    <label class="text-secondary" for="id_new_alias">Alias</label>
                    <input class="textbox" type="text" id="id_new_alias" name="new_alias" value="${username}" placeholder="New Alias">
                </div>
                <div>
                    <label class="text-secondary" for="id_new_quota">Quota</label>
                    <div class="optional-field-container">
                        <input id="id_set_quota" name="set_quota" class="checkbox" type="checkbox" onclick="toggleInput('new_quota')">
                        <label id="label_set_quota" for="id_set_quota" class="text-secondary">New Quota</label>
                        <input id="id_new_quota" class="textbox" type="number" name="new_quota" value="${currentQuota}">
                    </div>
                </div>
                <div>
                    <label class="text-secondary" for="id_new_lifetime">Lifetime</label>
                    <div class="optional-field-container">
                        <input id="id_set_lifetime" name="set_lifetime" class="checkbox" type="checkbox" onclick="toggleInput('new_lifetime')">
                        <label id="label_set_lifetime" for="id_set_lifetime" class="text-secondary">New Lifetime</label>
                        <input id="id_new_lifetime" class="textbox" type="date" name="new_lifetime" value="${currentLifetime}">
                    </div>
                </div>
            `;

            if (currentQuota === 'None') {
                form.querySelector('#id_new_quota').style.display = 'none';
            } else {
                form.querySelector('#label_set_quota').style.display = 'none';
                form.querySelector('#id_set_quota').checked = true;
            }
            if (currentLifetime === 'None') {
                form.querySelector('#id_new_lifetime').style.display = 'none';
            } else {
                form.querySelector('#label_set_lifetime').style.display = 'none';
                form.querySelector('#id_set_lifetime').checked = true;
            }

            return form;
        }

        async function submitEditUser(form) {
            const csrfToken = form.elements["csrfmiddlewaretoken"].value;
            const formData = new FormData(form);
            if (form.elements['id_set_quota'].checked) {
                formData.delete('set_quota');
            } else {
                formData.delete('new_quota');
                formData.append('remove_quota', 'on');
            }
            if (form.elements['id_set_lifetime'].checked) {
                formData.delete('set_lifetime');
            } else {
                formData.delete('new_lifetime');
                formData.append('remove_lifetime', 'on');
            }

            try {
                const response = await fetch("{% url 'edit-user' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                    },
                    body: formData,
                });
                if (response.ok) {
                    location.reload();
                } else {
                    await showAlertModal("Updating user failed", "An unknown error occurred while updating the user. Please try again.");
                }
            } catch (error) {
                await showAlertModal("Updating user failed", "An unknown error occurred while updating the user. Please try again.");
            }
        }


        async function deleteInvitation(invitationId) {
            const form = document.getElementById(`delete-invitation-${invitationId}`);
            const csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;
            console.log("Invitation ID: ", invitationId);
            try {
                const response = await fetch("{% url 'delete-invitation' 0 %}".replace("0", invitationId), {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json',
                    },
                });

                const data = await response.json();

                if (response.ok) {
                    await showAlertModal("Deleted Invitation", data.message || "Invitation deleted successfully.");
                    location.reload();
                } else {
                    await showAlertModal("Failed to delete Invitation", data.error || "An error occurred while deleting the invitation.");
                }
            } catch (error) {
                await showAlertModal("Failed to delete Invitation", "An unknown error occurred while deleting the invitation.");
            }
        }
    </script>
{% endblock %}
