{% extends "base_template.html" %}
{% load static %}
{% block title %}User Management{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static "/css/generate_invitation.css" %}">
    <style>
        .container {
            margin: 30px;
        }

        .content_wrapper {
            background-color: #1e1e1e;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .empty-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .empty-text p {
            text-align: center;
            padding: 20px;
            font-size: 18px;
        }

        .input-field {
            margin-bottom: 20px;
        }

        /* Table cell styling */
        td {
            padding: 10px; /* Ensure consistent padding for table cells */
            border: 1px solid #444444; /* Ensure consistent borders on table cells */
        }

        /* Button styles */
        .delete-button, .copy-button {
            background-color: transparent;
            color: white; /* Keep text color white */
            border: 2px solid white; /* Set white border */
            font-size: 16px;
            cursor: pointer;
            padding: 8px 15px;
            transition: background-color 0.2s ease, color 0.2s ease; /* Smooth transition */
        }

        /* Hover state */
        .delete-button:hover, .copy-button:hover {
            background-color: #da190b; /* Red for delete */
            color: white; /* Ensure text stays white */
            border-color: white; /* Keep border white */
        }

        /* Copy button hover state */
        .copy-button:hover {
            background-color: #45a049; /* Green for copy */
        }

        #modal {
            display: none; /* Ensures the modal is hidden by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }

        #modal div {
            background: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            position: relative;
        }

        #modal h3 {
            color: black; /* Make the heading text black for visibility */
        }

        #modal p {
            color: black; /* Ensure the link text is visible */
            word-wrap: break-word;
            margin-bottom: 20px;
        }

        td button {
            margin-right: 10px; /* Adds space between the buttons */
        }

        table {
            margin: 20px 0;
            width: 100%;
            border-collapse: collapse;
        }

        table th, table td {
            border: 1px solid #444444;
            padding: 8px;
            text-align: left;
        }

        table th {
            background-color: #222222;
            color: white;
        }


        .tables-background {
            background-color: #1e1e1e;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
        }

        .tables-background table {
            background-color: #1e1e1e;
            border-collapse: collapse;
            width: 100%;
        }

        .tables-background table th, .tables-background table td {
            border: 1px solid #444444;
            padding: 8px;
            text-align: left;
        }

        .tables-background table th {
            background-color: #222222;
            color: white;
        }


        .styled-select {
            background-color: #333333;
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 5px;
            border: none;
            width: 100%;
        }

        .styled-select:focus {
            outline: none;
            box-shadow: 0 0 5px #888;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .highlight {
            background-color: #555; /* A more muted gray */
            font-weight: normal;
            color: #f1f1f1; /* Keeping the text light */
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Dashboard</h1>
        <!-- Invitation Form -->
        <div class="content_wrapper">
            <h2>Generate Invitation</h2>
            {% if error is not None %}<p class="error">{{ error }}</p>{% endif %}
            {% if link is None %}
                <form method="post"
                      action="{% url 'generate-user-invitation' %}"
                      id="invitationForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-field">
                            {{ form.email }}
                            <i class="bx bx-envelope"></i>
                        </div>
                        <div class="input-field">
                            {{ form.username }}
                            <i class="bx bx-user"></i>
                        </div>
                        <div class="form-group">
                            <div class="input-field">
                                <label for="id_role"></label>
                                <select name="role" id="id_role" class="styled-select">
                                    {% for value, label in form.role.field.choices %}
                                        <option value="{{ value }}"
                                                {% if form.role.value == value %}selected{% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <i class="bx bx-user"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox-field">
                                <input type="checkbox"
                                       id="id_expert"
                                       name="expert"
                                       {% if form.expert.value %}checked{% endif %}>
                                <label for="id_expert">Expert</label>
                            </div>
                            <div class="checkbox-field">
                                <input type="checkbox" id="enableQuota" onclick="toggleInput('quotaField')">
                                <label for="enableQuota">Max. Simultaneous Requests</label>
                            </div>
                            <div class="input-field" id="quotaField" style="display: none;">{{ form.quota }}</div>
                            <div class="checkbox-field">
                                <input type="checkbox"
                                       id="enableLifetime"
                                       onclick="toggleInput('lifetimeField')">
                                <label for="enableLifetime">Limited Usage Time</label>
                            </div>
                            <div class="input-field" id="lifetimeField" style="display: none;">{{ form.lifetime }}</div>
                        </div>
                        <div class="form-group">
                            <button type="button"
                                    class="generate-invitation-button"
                                    onclick="createInvitation()">Generate</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p id="invitationLink">{{ link }}</p>
                <button class="copybutton" onclick="copyLink()">Copy Link</button>
            {% endif %}
        </div>
        <div class="tables-background">
            <!-- Open Invitations -->
            <div class="open-invitations">
                <h3>Open Invitations</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Alias</th>
                            <th>Role</th>
                            <th>Quota</th>
                            <th>Lifetime</th>
                            <th>Invitation Link</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if invitations %}
                            {% for invitation in invitations %}
                                <tr>
                                    <td>{{ invitation.email }}</td>
                                    {% if invitation.username != invitation.email %}
                                        <td>{{ invitation.username }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td>{{ invitation.role }}</td>
                                    <td>{{ invitation.quota }}</td>
                                    <td>{{ invitation.lifetime }}</td>
                                    <td>{{ invitation.link }}</td>
                                    <td>
                                        {% if invitation.link != "" %}
                                            <button type="button"
                                                    class="copy-button"
                                                    onclick="copyLinkToClipboard('{{ invitation.link }}')">
                                                Copy Link
                                            </button>
                                        {% endif %}
                                        <form id="delete-invitation-{{ invitation.id }}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="button"
                                                    class="delete-button"
                                                    onclick="deleteInvitation({{ invitation.id }})">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7">No open invitations found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tables-background">
            <!-- All Users -->
            <div class="all-users">
                <h3>All Users</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Alias</th>
                            <th>Role</th>
                            <th>Quota</th>
                            <th>Lifetime</th>
                            <th>Date Joined</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for target_user in users %}
                            {% if target_user.deletion_pending == False %}
                                <tr id="user-{{ target_user.id }}"
                                    class="{% if target_user.id == current_user_id %}highlight{% endif %}">
                                    <td>{{ target_user.email }}</td>
                                    {% if invitation.username != invitation.email %}
                                        <td>{{ invitation.username }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td>{{ target_user.get_role }}</td>
                                    <td>{{ target_user.quota }}</td>
                                    <td>{{ target_user.lifetime }}</td>
                                    <td>{{ target_user.date_joined }}</td>
                                    <td>
                                        <form id="delete-user-{{ target_user.id }}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="button"
                                                    class="delete-button"
                                                    onclick="deleteUser({{ target_user.id }})">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="modal">
        <div>
            <h3>Invitation Link</h3>
            <p id="modal-link" style="word-wrap: break-word; margin-bottom: 20px;"></p>
            <button onclick="copyToClipboard()"
                    id="copyButton"
                    style="padding: 10px 20px;
                           background-color: #4CAF50;
                           color: white;
                           border: none;
                           border-radius: 5px;
                           cursor: pointer">Copy Link</button>
            <button onclick="closeModal()"
                    style="padding: 10px 20px;
                           background-color: #f44336;
                           color: white;
                           border: none;
                           border-radius: 5px;
                           cursor: pointer;
                           margin-left: 10px">Close</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static '/js/usermanagment.js' %}"></script>
{% endblock %}
