{% extends "base_template.html" %}
{% block title %}Create Observation{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static "/css/inputs.css" %}">
    <style>
    .modal-header-container {
        display: flex;
        justify-content: left;
    }

    .button-container {
        padding-top: 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
    }

    .form-heading {
        margin-top: 24px;
    }

    .form-container {
        margin: 8px 0px;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="page-content page-md">
        <header>
            <div class="modal-header-container">
                <p class="text-xl">Create New Observation</p>
            </div>
        </header>
        <form id="form"
              onsubmit="submitForm(event, this, '{{ create_form_url }}', '{% url "dashboard" %}')">
            {% for name, form in forms %}
                <article>
                    <p class="form-heading text-lg">{{ name }}</p>
                    <div class="form-container">{{ form }}</div>
                </article>
            {% endfor %}
            {% csrf_token %}
            <div class="button-container">
                <button class="btn" type="submit">Create Observation</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static '/js/turminputs.js' %}"></script>
    <script src="{% static '/js/simbad.js' %}"></script>
    <script> onload = _ => {
        check_radio_if_none_selected()
    };
    </script>
{% endblock %}
