{% extends "base_template.html" %}
{% block title %}Edit Observation{% endblock %}
{% block style %}
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static "/css/inputs.css" %}">
    <link rel='stylesheet'
          href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <style>
        .modal-header-container {
            display: flex;
            justify-content: left;
        }

        .button-container {
            padding-top: 24px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
        }

        .form-heading {
            margin-top: 24px;
        }

        .form-container {
            margin: 8px 0px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="page-content page-md">
        <header>
            <div class="modal-header-container">
                <p class="text-xl">Edit Observation</p>
            </div>
        </header>
        <form id="form"
              onsubmit="submitForm(event, this, '{{ edit_form_url }}', '{% url "dashboard" %}')">
            {% for name, form in forms %}
                <article>
                    <p class="form-heading text-lg">{{ name }}</p>
                    <div class="form-container">{{ form }}</div>
                </article>
            {% endfor %}
            {% csrf_token %}
            <div class="button-container">
                <button class="btn-secondary"
                        type="button"
                        onclick="window.location.href='/'">Cancel</button>
                <button class="btn" type="submit">Save changes</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static '/js/turminputs.js' %}"></script>
    <script> onload = _ => {
        function markInputAsChecked(query, value, predicate) {
            const queryString = `input[id^="${query}"]`;
            for (const input of document.querySelectorAll(queryString)) {
                if (predicate(input.value)) {
                    input.checked = true;
                }
            }
        }

        function markInputAsCheckedIfEqual(query, value) {
            markInputAsChecked(query, value, (val) => val == value)
        }

        function fillInput(query, value) {
            if (value === undefined || value === null) {
                return;
            }
            const queryString = `input[id^="${query}"]`;
            for (const input of document.querySelectorAll(queryString)) {
                input.value = value;
            }
        }

        const existingRequest = JSON.parse('{{ existing_request | escapejs }}');

        markInputAsCheckedIfEqual("id_observatory", existingRequest.observatory);
        markInputAsCheckedIfEqual("id_observation_type", existingRequest.observation_type);
        markInputAsChecked("id_filter_set", existingRequest.filter_set, (val) => existingRequest.filter_set.includes(val));
        markInputAsCheckedIfEqual("id_exposure_time", existingRequest.exposure_time);

        fillInput("id_name", existingRequest.target_name);
        fillInput("id_catalog_id", existingRequest.catalog_id);
        fillInput("id_ra", existingRequest.ra);
        fillInput("id_dec", existingRequest.dec);

        fillInput("id_frames_per_filter", existingRequest.frames_per_filter);
        fillInput("id_start_observation", existingRequest.start_observation);
        fillInput("id_end_observation", existingRequest.end_observation);
        fillInput("id_minimum_altitude", existingRequest.minimum_altitude);
        fillInput("id_start_scheduling", existingRequest.start_scheduling);
        fillInput("id_end_scheduling", existingRequest.end_scheduling);
        fillInput("id_cadence", existingRequest.cadence);

        fillInput("id_priority", existingRequest.priority);
        fillInput("id_exposure_time_expert", existingRequest.exposure_time);
        fillInput("id_dither_every", existingRequest.dither_every);
        fillInput("id_binning", existingRequest.binning);
        fillInput("id_subframe", existingRequest.subframe);
        fillInput("id_gain", existingRequest.gain);
        fillInput("id_offset", existingRequest.offset);
        fillInput("id_moon_separation_angle", existingRequest.moon_separation_angle);
        fillInput("id_moon_separation_width", existingRequest.moon_separation_width);
        fillInput("id_minimum_altitude", existingRequest.minimum_altitude);

        check_radio_if_none_selected()
    };
    </script>
{% endblock %}
