{% extends "base_template.html" %}
{% block title %}Create Observation{% endblock %}
{% block style %}
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static "/css/inputs.css" %}">
    <link rel='stylesheet'
          href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <style></style>
{% endblock %}
{% block scripts %}
    <script src="{% static '/js/turminputs.js' %}"></script>
    <script> onload = _ => {
        check_radio_if_none_selected()
    };
    </script>
    <script>
    async function fetch_coordinates() {
        let catalog_id  = document.getElementById("id_catalog_id").value

        // see here for query documentation: https://simbad.cds.unistra.fr/guide/sim-fscript.htx
        const url = "http://simbad.u-strasbg.fr/simbad/sim-script";
        const script = `
        output console=off script=off
        format object form1 "%COO(s; A, D; ICRS; J2000)"
        query id ${catalog_id}
        `;
        console.log("ID: " + catalog_id)

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                'script': script
            })
        })
        .then(response => {
            if (response.ok) {
                return response.text();
            } else {
                throw new Error(`Error: ${response.status}`);
            }
        })
        .then(text => {check_response(text, catalog_id)})
        .catch(error => {
            console.error(error);
            alert(`Did not receive a valid response. Got: ${error.message}`);
        });
    }

    function check_response(response, catalog_id) {
        console.log(`Got response: ${response}`)

        if (response.includes("error")) {
            let error_res = `Got an error for Catalog ID "${catalog_id}".\nTarget probably does not exist in SIMBAD database!`
            console.log(error_res)
            alert(error_res)
        } else {
            /**
             If we reach this point, the simbad response has the following pattern (this is m42)
             05 35 16.8, -05 23 15
             */
            const split_res= response.replace(/\+/g, "").split(",")
            const ra = split_res[0].trim()
            const dec = split_res[1].trim()

            document.getElementById("id_ra").value = ra;
            document.getElementById("id_dec").value = dec;
            console.log(`Inserted values for ${catalog_id}! \nRA: ${ra}\nDEC: ${dec}`)
        }
    }
    </script>
{% endblock %}
{% block content %}
    <div class="content_wrapper form_wrapper">
        <header class="form_body">
            <div class="container_center">
                <h1>Create New Observation</h1>
            </div>
        </header>
        <form class="input_form"
              id="form"
              onsubmit="submitForm(event, this, '{{ create_form_url }}', '{% url "dashboard" %}')">
            {% for name, form in forms %}
                <article class="form_body">
                    <h2 class="sub_form_heading">{{ name }}</h2>
                    <div class="form_center">{{ form }}</div>
                </article>
            {% endfor %}
            {% csrf_token %}
            <input type="submit" class="base_button">
        </form>
    </div>
{% endblock %}
