{% extends "base_template.html" %}
{% block title %}Dashboard{% endblock %}
{% block style %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet'>
    <style>
    .container {
        margin: 30px;
    }

    .empty-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .empty-text p {
        text-align: center;
        padding: 20px;
        font-size: 18px;
    }

    .observations-table {
        margin: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        box-sizing: border-box;
    }

    .observations-table th, td {
        padding: 8px;
    }

    .observations-table th {
        font-weight: bold;
    }

    .left-align {
        text-align: left;
    }

    .filter_set_container {
        display: flex;
        flex-wrap: wrap;
        gap: 0 1em;
        align-content: center;
        justify-content: center;
    }

    .right-align {
        text-align: right;
    }

    .observation-row:hover {
        background-color: var(--tom-light-grey);
        cursor: pointer;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="content_wrapper">
            {% if observations|length == 0 %}
                <div class="empty-container">
                    <p class="empty-text">Submitted observations will show up here.</p>
                </div>
            {% else %}
                <table class="observations-table">
                    <thead>
                        <tr>
                            <th class="left-align">Observatory</th>
                            <th class="left-align">Target</th>
                            <th class="left-align">Type</th>
                            <th class="left-align">Filters</th>
                            <th class="right-align">Exposure time</th>
                            {% if perms.accounts.can_see_all_observations %}<th class="left-align">User</th>{% endif %}
                            <th class="right-align">Created at</th>
                            <th class="right-align">Project status</th>
                            <th class="right-align">Project completion</th>
                            <th class="right-align">Priority</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for observation in observations %}
                            <tr class="observation-row" data-id="{{ observation.id }}">
                                <td class="left-align">{{ observation.observatory.name }}</td>
                                <td class="left-align">{{ observation.target.name }}</td>
                                <td class="left-align">{{ observation.observation_type }}</td>
                                <td>
                                    <div class="filter_set_container">
                                        {% for filter in observation.filter_set.all %}<p>{{ filter.filter_type }}</p>{% endfor %}
                                    </div>
                                </td>
                                <td class="right-align">{{ observation.exposure_time }}</td>
                                {% if perms.accounts.can_see_all_observations %}<td class="left-align">{{ observation.user.username }}</td>{% endif %}
                                <td class="right-align">{{ observation.created_at|date:"d.m.Y" }}</td>
                                <td class="right-align">{{ observation.project_status }}</td>
                                <td class="right-align">{{ observation.project_completion|floatformat:"0" }}%</td>
                                <td class="right-align">{{ observation.priority }}</td>
                                <td>
                                    <a href="{% url 'edit-observation-request' observation.id %}">
                                        <i class="bx bx-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="expander-row"
                                id="expander-{{ observation.id }}"
                                style="display: none">
                                <td colspan="5">
                                    <div class="expander-content">
                                        {% if observation.observation_type == 'Imaging' %}
                                            <p>Frames per filter: {{ observation.frames_per_filter }}</p>
                                        {% elif observation.observation_type == 'Exoplanet' %}
                                            <p>Start observation: {{ observation.start_observation|date:"d.m.Y" }}</p>
                                            <p>End observation: {{ observation.end_observation|date:"d.m.Y" }}</p>
                                        {% elif observation.observation_type == 'Variable' %}
                                            <p>Minimum altitude: {{ observation.minimum_altitude }}</p>
                                        {% elif observation.observation_type == 'Monitor' %}
                                            <p>Frames per filter: {{ observation.frames_per_filter }}</p>
                                            <p>Start scheduling: {{ observation.start_scheduling|date:"d.m.Y" }}</p>
                                            <p>End scheduling: {{ observation.end_scheduling|date:"d.m.Y" }}</p>
                                            <p>Cadence: {{ observation.cadence }}</p>
                                        {% elif observation.observation_type == 'Expert' %}
                                            <p>Frames per filter: {{ observation.frames_per_filter }}</p>
                                            <p>Dither every: {{ observation.dither_every }}</p>
                                            <p>Binning: {{ observation.binning }}</p>
                                            <p>Gain: {{ observation.gain }}</p>
                                            <p>Offset: {{ observation.offset }}</p>
                                            <p>Start observation: {{ observation.start_observation|date:"d.m.Y" }}</p>
                                            <p>End observation: {{ observation.end_observation|date:"d.m.Y" }}</p>
                                            <p>Start scheduling: {{ observation.start_scheduling|date:"d.m.Y" }}</p>
                                            <p>End scheduling: {{ observation.end_scheduling|date:"d.m.Y" }}</p>
                                            <p>Cadence: {{ observation.cadence }}</p>
                                            <p>Moon separation angle: {{ observation.moon_separation_angle }}</p>
                                            <p>Moon separation width: {{ observation.moon_separation_width }}</p>
                                            <p>Minimum altitude: {{ observation.minimum_altitude }}</p>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rows = document.querySelectorAll('.observation-row');
            let currentlyExpanded = null;

            rows.forEach(row => {
                row.addEventListener('click', function() {
                    // Check if the clicked element is the edit icon or its parent link
                    if (event.target.classList.contains('bx-edit') || event.target.closest('a')) {
                        // If it's the edit icon or its link, don't expand the row
                        return;
                    }

                    const id = this.getAttribute('data-id');
                    const expander = document.getElementById(`expander-${id}`);

                    // Close currently expanded row if it's not the one we're clicking
                    if (currentlyExpanded && currentlyExpanded !== expander) {
                        currentlyExpanded.style.display = 'none';
                    }

                    // Toggle the clicked expander
                    if (expander.style.display === 'none' || expander.style.display === '') {
                        expander.style.display = 'table-row';
                        currentlyExpanded = expander;
                    } else {
                        expander.style.display = 'none';
                        currentlyExpanded = null;
                    }
                });
            });
        });
    </script>
{% endblock %}
